.collapse {

  i {
  font-size: 18px;
  margin-right: 6px;
  display: flex;
  margin-top: 1px;

}
li {
  margin-right: 10px;
}
.nav-link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
}


